body {
    background: #333;
    padding-top: 5em;
    display: flex;
    justify-content: center;
  }





  .typewriter h1{
	
color: pink; 
  font-family: "Courier";
  font-size: 44px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
   width: 30em;
   font-weight:700;
   border-right: .15em solid purple; /* The typwriter cursor */
   margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation:typing 3.5s steps(30, end),
   blink-caret .5s step-end infinite;
}




/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: purple }
  }
